body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Hero section start */
header {
    display: flex;
    justify-content: center;
}

.container {
    background-color: black;
    display: flex;
    width: 1300px;
    margin-top: 50px;
    border-radius: 15px;
    padding-top: 30px;
}

.half-width {
    width: 50%;
    padding-left: 70px;
}

.half-width img {
    width: 100%;
    margin-bottom: -6px;
}

h1 {
    color: white;
    font-size: 60px;
    line-height: 1.2em;
}

p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-right: 110px;
    margin-top: -15px;
    margin-bottom: 30px;
}

.link-button {

    text-decoration: none;
    background-color: #dd0000;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
}

.link-button:hover {
    background-color: tomato;

}

.fa-solid {
    padding-left: 10px;
}

/* hero section end */

/* Responsive part */
@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }

    .half-width h1 {
        font-size: 30px;
        text-align: center;
    }

    .half-width p {
        width: 100%;
        text-align: center;
    }

    .half-width img {
        padding-top: 30px;
        align-items: center;
    }

    .half-width a {
        text-align: center;
    }
}


@media only screen and (min-width: 577px) and (max-width: 992px) {

    .players-blog {
        grid-template-columns: none;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    #view-btn {
        display: block;
    }
}

/* Responsive part */

#view-btn {
    display: none;

}

/* Main section Start */
.live-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 0 12%;
}

.players-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 0 6%;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

.blog {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
}

.blog-content {
    margin-left: 10px;
    margin-bottom: 10px;
}

.blog button {
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons div {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.players-blog {
    margin-top: 150px;
    margin-bottom: 150px;
}

.player-live {
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 30px;
    width: 280px;
    height: 215px;
    border-radius: 10px;
}

.live-blog {
    margin-top: 150px;
    margin-bottom: 150px;
}

#active-btn {
    background-color: #dd0000;
    color: white;
}

.three-button {
    color: black;
    padding: 20px 10px;
    text-decoration: none;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Upcoming page */

.flag-item {
    display: flex;
    padding: 30px 20px;
}

/* Footer section start */
footer {
    background-color: black;
    padding: 60px;
}

hr {
    border: 1px solid rgb(192, 192, 192);
    width: 50%;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.menu-item {
    text-align: center;
    margin-top: 30px;
}

.menu-item a {
    text-decoration: none;
    color: gray;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

/* Footer section end */